<h1>Welcome to Cook Tree <%= @to[:name] %>, </h1>
  <p>
     Please sign up and join my cooking tree.<br>
     <a href=<%= invitation_url(@token) %>>Follow, me...</a>
  </p>
<p>Cheers</p>

<%= @from[:name] %>
