<h1>Welcome <%= @to[:name] %>, </h1>
  <p>
     Please sign up and join my cooking tree.<br>
     <a href=<%= get_invitation_url(@token) %>><%= get_invitation_url(@token) %></a>
  </p>
<p>Cheers</p>

<%= @from[:name] %>
